# Firebase Web Configuration
VITE_FIREBASE_API_KEY=your-firebase-api-key
VITE_FIREBASE_AUTH_DOMAIN=dzvonyk.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dzvonyk
VITE_FIREBASE_STORAGE_BUCKET=dzvonyk.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=395917789018
VITE_FIREBASE_APP_ID=1:395917789018:web:0ef3b1a1a4b6c680d5d563
VITE_FIREBASE_MEASUREMENT_ID=G-L9H6X6T3SZ
